<header>
  <nav class="nav" style="display: inline-block">
    <a href="/">MyWeb.</a>
    <ul style="display: inline-block">
      <li><a href="/">Home.</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/newAuthor/">New Author.</a></li>
      <li><a href="/books">books</a></li>
      <li><a href="/books/newBook/">New book.</a></li>
    </ul>
  </nav>
</header>
